<template name="brandForm">
	<form class="ui form new-brand">
		<div class="inline fields">
			<div class="seven wide field">
				<label>Brand</label>
				<input type="text" name="brand" placeholder="Brand">
			</div>
			<div class="seven wide field">
				<label>Domaine</label>
				<input type="text" name="domain" placeholder="Domaine">
			</div>
			<button class="ui button icon right labeled teal" type="submit" name="submit"><i class="right checkmark icon"></i>Valider</button>
		</div>
	</form>
</template>