<template name="deliveryForm">
	<form class="ui form new-delivery">
		<div class="four inline fields">
			<div class="field">
				<label>Date</label>
				<input type="date" name="date" placeholder="Date">
			</div>
			<div class="field">
				<label>Marque</label>
				<input type="text" name="brand" placeholder="Marque">
			</div>
			<div class="field">
				<label>Description</label>
				<input type="text" name="description" placeholder="Description">
			</div>
			<button class="ui button" type="submit" name="submit">Valider</button>
		</div>
	</form>
</template>